<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Beijing Grids - Leaflet</title>
<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><span style="color:#fff;font-family:-apple-system, BlinkMacSystemFont,">智慧选址</span></a>
			</div>
		</div>
	</div>
	<div style="padding-top: 50px; padding-bottom: 0px; padding-left: 0px; margin:0px; width:100%; height: 100%;z-index:900" class="container">
		<div style="height: 100%" class="">
			<div style="height: 100%;margin:0px;width:80%" class="span10" role="main">
				<div id='map'>
				</div>
			</div>
			<div class="span2" role="complementary"style="width:20%; position:fixed; right:0px;top:50px; height: 100%;">
				<div class="card" style="padding: 10px">
						<div class="form-group mb-3">
											<label>选择热力图</label>
											<select class="form-control">
												<option>人流量热力图</option>
												<option>收益热力图</option>
											</select>
						</div>
						<div class="form-group mb-3">
											<label>展示信息</label>
											<div class="checkbox">
												<label>
													<input type="checkbox" value=""/>地区区域
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value=""/>已有门店Voronoi图
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value=""/>道路可达性
												</label>
											</div>
						</div>
						<div class="form-group mb-3">
							<label>选址推荐</label>
							<div class="checkbox">
								<label>
									<input type="checkbox" value=""/>区域筛选
								</label>
								<select class="form-control">
									<option>海淀区</option>
									<option>东城区</option>
									<option>西城区</option>
									<option>朝阳区</option>
								</select>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value=""/>多店推荐
								</label>
							</div>
							<div class="input-group mb-3"></div>
								<input type="text" class="form-control" placeholder="推荐数量" aria-label="推荐数量">
								<input type="text" class="form-control" placeholder="推荐面积" aria-label="推荐面积">
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value=""/>显示推荐热度
								</label>
							</div>
						</div>
						<p id='selectedGridNumber'>已选0个网格</p>
						<button type="submit" class="btn btn-primary" id='recommending'>一键推荐</button>
				</div>
			</div>
		</div>
	</div>
	<div class="footer" style="position:fixed;z-index:1030;margin: 0px;bottom:0px">
		<div class="navbar-brand" href="#" style="font-size:10px;padding-top:0px;padding-bottom:0px;height:20px">联通智慧选址六组大作业 版权归六小组所有</div>
	</div>
</body>
<link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/static/css/datepicker3.css" rel="stylesheet"/>
<link href="/static/css/style.css" rel="stylesheet"/>
<link rel="stylesheet" href="/static/css/leaflet.css" />
<link href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css' rel='stylesheet' />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
<link rel="stylesheet" href="/static/css/index.css" />

<script src="/static/js/leaflet.js" ></script>
<script src='/static/js/leaflet-omnivore.min.js'></script>
<script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.bundled.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js"></script>
<script src="/static/js/leaflet.featuregroup.subgroup.js"></script>
<script src="/static/js/leaflet.ChineseTmsProviders.js"></script>
<script src="/static/js/leaflet-bing-layer.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js'></script>
<script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script src="/static/js/index.js" ></script>
</html>



